/* Main CSS file for the bootcamp API project */

/*GLOBAL*/
* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
}

/*TAG STYLING*/
p,
h2,
h3,
li {
  margin: 10px 0;
  line-height: 1.5;
  color: white;
}

.HasEvol {
  color: rgb(20, 148, 240);
}

.DoesNotEvol {
  color: rgb(224, 42, 42);
}

.Pokemons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
